body {
	font-family: 宋体, Arial, Helvetica, san-serif;
	font-size: 9pt;
	line-height: 1.6em;
	color: #000000;
	/*background-color: #F8FBFF;*/
	margin:0px;

 SCROLLBAR-FACE-COLOR: #599924;
 SCROLLBAR-HIGHLIGHT-COLOR: #AEE468;
 SCROLLBAR-SHADOW-COLOR: #E5FDC4;
 SCROLLBAR-3DLIGHT-COLOR: #E5FDC4;
 SCROLLBAR-ARROW-COLOR: #E5FDC4;
 SCROLLBAR-TRACK-COLOR: #E5FDC4;
 SCROLLBAR-DARKSHADOW-COLOR: #E5FDC4;
 SCROLLBAR-BASE-COLOR: #E5FDC4
}
/*table          {font-size: 9pt; cursor: default; margin: 0;}
tr             {height: 20;}
*/

tr.over        {font-size: 9pt; color: #ffffff; background-color: #D0D9F4; cursor: default;}
tr.out         {font-size: 9pt; color: #ffffff; background-color: #B7C7F0; cursor: default;}
div.rm_div     {position: absolute; filter: Alpha(Opacity='95'); display: none; border: 2px outset #D0D9F4; background-color: #D0D9F4; width: 0; height: 0;}
hr.sperator    {border: 1px inset #66aadd;}

TABLE {
	COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 12px; LINE-HEIGHT: 1.6em
}

TD {
	COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 12px; LINE-HEIGHT: 1.6em
}

FORM {
	MARGIN: 0px; PADDING: 0px
}
INPUT {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: "Verdena";
	HEIGHT: 18px;
	padding: 1px;
	/*border: 1px solid #A2A4BD;*/
}
SELECT {
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt; COLOR: #000000;border: #A2A4BD 1px solid
}
TEXTAREA {
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt;border: #A2A4BD 1px solid
        scrollbar-face-color:145f74;
        scrollbar-3dlight-color:ffffff;
        scrollbar-darkshadow-color:ffffff;
        scrollbar-track-color:FFFFFF;
        scrollbar-arrow-color:ffffff;
        scrollbar-shadow-color:ffffff
}
img {
	margin:0px; padding:0px; border:0px
}

A:link {
	COLOR: #0E40B6; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0E40B6; TEXT-DECORATION: none
}
A:active {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.read-input{
   border-style: solid; border-width: 1; background-color: #E6E6E6
}
.code-input{
   border: #A2A087 1px solid;
}
.notop{
  border-left:0pt solid;border-right:0pt solid;border-top:0pt solid;border-bottom:2pt solid
}
.main-margin {
	margin-top:20px;margin-bottom:20px
}
.menu-margin {
	margin-top:5px;margin-bottom:20px;margin-left:5px
}
.land{
   border-left:0pt solid;border-right:0pt solid;border-top:0pt solid;border-bottom:0pt solid
 }
.land2{
   color:red;border-left:0pt solid;border-right:0pt solid;border-top:0pt solid;border-bottom:0pt solid
}
.bt {
	font-family: "Arial", "宋体";
	FILTER: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1);
       font-size: 9pt;
       color: #173E84;border-bottom: 1px solid #A2A4BD; border-right: 1px solid #A2A4BD; border-top: 1px solid #F5F4F9; border-left: 1px solid #F5F4F9; background-color: #A6CEFF; height:20px; padding-top:0px;padding-bottom:2px;  padding-left:3px; padding-right:3px; margin-right:3px;
}
.channel_bt {
	border-bottom: 1px solid #0D80D5; border-right: 1px solid #0D80D5; border-top: 1px solid #F5F4F9; border-left: 1px solid #F5F4F9; background-color: #8CA8EA; height:25px; padding-top:4px; padding-left:3px; padding-right:3px; margin-right:3px;
}
.title {
	FONT-FAMILY: "宋体"; FONT-SIZE: 14px; font-weight: bold
}
.inputdate
{
 border:1px solid #7287c6;
 text-align: left;
 font-size: 12px;
 font-style: normal;
 height: 16px;
}
.btn { font-family: "Arial", "宋体";
       font-size: 9pt;
       color: #333333;
       height: 18px;
       border-top-width: 1px;
       border-right-width: 1px;
       border-bottom-width: 1px;
       border-left-width: 1px;
       border-top-style: solid;
       border-right-style: solid;
       border-bottom-style: solid;
       border-left-style: solid;
       border-top-color: #F0F0F0;
       border-right-color: #666666;
       border-bottom-color: #666666;
       border-left-color: #F0F0F0;
}
.box {
   FONT-FAMILY: 宋体; FONT-SIZE: 9pt; COLOR: #000000;border: 0px solid #0e40b6
}
.menuword {
	FONT-SIZE: 12px;
	FILTER: DropShadow(Color=4F6DB3, OffX=1, OffY=1, Positive=1);
                COLOR: #ffffff;
	font-family: Geneva, Arial, Helvetica, sans-serif;
                TEXT-ALIGN: center
}
.cMenu { 
  FILTER: alpha(opacity=0);BACKGROUND-COLOR: #D6D3CE;BORDER-BOTTOM: #666666 2px solid; BORDER-LEFT: #E4E4E4 2px solid; BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #E4E4E4 2px solid; COLOR: #000000; CURSOR: default; FONT-SIZE: 9pt; color:#000000;FONT-WEIGHT: normal; LINE-HEIGHT: 15px; POSITION: absolute; VISIBILITY: hidden; WIDTH: 140px
}
.menuitems { 
  font-size:9pt;
  MARGIN: 2px;
  PADDING-BOTTOM: 0px;
  PADDING-LEFT: 15px;
  PADDING-RIGHT: 3px;
  PADDING-TOP: 0px;
}
.icon {
	BORDER-RIGHT: #4F6DB3 1px solid; BORDER-TOP: #D4E1FF 1px solid; BORDER-LEFT: #C6D0E5 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #4F6DB3 1px solid; HEIGHT: 18px; TEXT-ALIGN: left
}
.title {
	FONT-FAMILY: "宋体"; FONT-SIZE: 14px; font-weight: bold
}
.title2 {
	FILTER: DropShadow(Color=black, OffX=1, OffY=1, Positive=1); COLOR: #ffffff
}
.title3 {
	FONT-SIZE: 14px;
	FILTER: DropShadow(Color=#AAF1FF, OffX=1, OffY=1, Positive=1);
	COLOR: #214CB9;
	font-family: Geneva, Arial, Helvetica, sans-serif;

}
.title4 {
	FONT-SIZE: 12px;
	FILTER: DropShadow(Color=white, OffX=1, OffY=1, Positive=1);
	COLOR: #363A6D;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #BEBDD9;

}

.filter_white2 {
	FONT-SIZE: 14px;
	FILTER: DropShadow(Color=#AAF1FF, OffX=1, OffY=1, Positive=1);
	COLOR: #7D8AFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;

}
.div_list{
   border-right: #C4DEFF 2px solid;
   border-bottom: #C4DEFF 2px solid;
   border-top: #C4DEFF 2px solid;
   border-left: #C4DEFF 2px solid;

   BACKGROUND-IMAGE: url(../images/sjs_indexleftbg.gif)
}

.filedset1{
  border:2 solid #99CCFF;

}
.filedset2{
  border:1 #FFFFFF;
}
.disableText {
 color: #808080
}
.notdisableText {
 color: #000000
}
.filedset3{
  border:1 solid #4F6DB3;
}
.style1 {
	color: #A86318;
	font-weight: bold;
}
.style2 {color: #003264
}


.tr_title {
 background-image: url(../images/jls_14.gif);
}



.text {
	FONT-FAMILY: "宋体"; FONT-SIZE: 12px; COLOR: #175584
}
.title5 {
	FONT-SIZE: 12px;
	FILTER: DropShadow(Color=white, OffX=1, OffY=1, Positive=1);
	COLOR: #335D14;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.table {
	border: 1px solid #A8E166;
	background-color: #E5FDC4;
}

.table1 {
	border: 1px solid #DFDFDF;
	background-image: url(../images/g_bj.gif);
}

toptable{height:61px;background:url(../images/normal_index_g_3.jpg) repeat-x;}
.left{height:61px;width:366px;background:url(../../../images/normal_index_g_1.jpg) no-repeat left top}
.middle{width:17%; background:url(../../../images/normal_index_g_3.jpg) repeat-x;}
.right{width:112px; background:url(../../../images/normal_index_g_5.jpg) repeat-x;}
.inp01{width:101px;background:url(../images/normal_index_g_6.jpg) no-repeat left top}
.inp02{width:59px;background:url(../images/normal_index_g_7.jpg) no-repeat left top}
.inp03{width:80px;background:url(../images/normal_index_g_8.jpg) no-repeat left top}
.inp04{height:310px;width:218px;background:url(../images/normal_index_g_14.jpg) no-repeat left top}

.bottom{background:url(../../../images/normal_index_g_21.jpg)}
.bottomtext {FONT-FAMILY: "宋体"; FONT-SIZE: 12px; COLOR: #6AA630}
.inp05{height:25px;width:162px;background:url(../../../images/normal_index_g_20.jpg) no-repeat left top}

.inp06{     
	height:21px;
	border: 1px solid #87ABC7;
	background-image: url(../images/manger_index1_16.jpg);
}

.inp06_text{ 
    font-size:12px;
	COLOR: #175584;
}

.inp06_text_1{ 
    font-size:12px;
	COLOR: #2574B1;
}

.content_text{ 
    font-size:12px;
	COLOR: #4F4F4F;
}

.liststyle{     
	height:21px;
	border: 1px solid #85CA83;
	background-image: url(../images/content_22_g.jpg);
}
.liststyle1{
    height:21px;
	border: 1px solid #85CA83;
	background-color: #ffffff;
}

.liststyle2{
    height:21px;
	border: 1px solid #85CA83;
	background-color: #D9E6FD;
}
<!-- 统一添加 -->
.onlyColor {
	background-color: #E5FDC4; 
}
.tableNew {
	border: 1px solid #A8E166;
	background-color: #E5FDC4;
}
.newtitle{
    FONT-FAMILY: "宋体"; FONT-SIZE: 14px; font-weight: bold; color:#335D14
}