@charset "utf-8";
/* CSS Document */

/*******************************************自适应按钮********************************************/
#btn_window{}
#btn_window ul {
		  display:block;
		  height:20px;
		 
		 		  
          }
		  
#btn_window ul li {
		  float:left;
		  margin-right:20px;
		  
		 
		  }

#btn_window ul li a{
		  display:block;
		  float:left; 
  		  line-height:20px; 
		  height:20px;
		  color:#202020;
		  text-decoration:none;
		  padding:0px 0px 0px 14px;
		  background:url(../img/window/btn_all.gif) no-repeat left 0px;
		  }

#btn_window ul li a:hover{
		 
   		  background: url(../img/window/btn_all.gif) no-repeat left -20px;
   		  }
		  
#btn_window ul li a span{
		  display:block;
		  padding:0px 14px 0px 0px;
		  background:url(../img/window/btn_all.gif) no-repeat right 0px;
   		  }
		  
#btn_window ul li a:hover span{
		 
   		  background: url(../img/window/btn_all.gif) no-repeat right -20px;
   		  }
